/* ####### signUp Section ####### */
.auth-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .white-header-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 4.5rem;
    border-bottom: 1px solid $gray400;

    .left-arrow-button {
      position: absolute;
      height: 1.5rem;
      left: 1.5rem;
      top: 1.5rem;
    }

    .auth-type {
      font-weight: normal;
      font-size: 1.375rem;
    }
  }

  .auth-form-section {
    width: 80%;
    margin-top: 7%;

    h1 {
      font-size: 2.25rem;
      margin: 2rem 0;
      color: $gray800;
    }

    h4 {
      font-size: 1.25rem;
      margin-bottom: 0.75rem;
      color: $gray700;
    }

    h5 {
      font-size: 0.75rem;
      color: $gray400;
    }

    .auth-form {
      margin-top: 2rem;

      #verification-code-input-section {
        visibility: hidden;
        height: 0;
        margin: 0;
        transform: scaleY(0);
        transform-origin: 0px 0px;
        transition: all 0.3s;

        &.visible {
          position: relative;
          visibility: visible;
          transform: scaleY(1);
          height: inherit;
          margin-bottom: 2rem;

          .timer {
            position: absolute;
            right: calc(1.5% + 5rem);
            bottom: 0.875rem;
            color: $primary-color;
          }
        }
      }
    }

    .input-section {
      position: relative;
      margin-bottom: 2rem;
      padding: 0 2.5%;

      .eye-icon {
        position: absolute;
        bottom: 0.5rem;
        right: 1rem;
        width: 1.325rem;
        filter: invert(80%) sepia(11%) saturate(18%) hue-rotate(319deg) brightness(79%)
          contrast(82%);
      }

      .input-label {
        position: absolute;
        left: 2.5%;
        bottom: 0.625rem;
        font-size: 0.8rem;
        letter-spacing: -0.35px;
        transition: all 0.2s ease;
        color: $gray500;
      }

      .text-input {
        width: 100%;
        outline: none;
        border: none;
        border-bottom: 1px solid $gray400;
        padding: 0.5rem 0.25rem;
        margin-right: 5rem;
        margin-top: 1rem;
        font-size: 1rem;
        transition: none;

        &:focus {
          border-bottom: 1px solid $red-color;

          + label {
            transform: translateY(-150%);
            color: $red-color;
          }
        }

        &:valid {
          border-bottom: 1px solid $primary-color;

          + label {
            transform: translateY(-150%);
            color: $primary-color;
          }
        }

        &:not(&:placeholder-shown) {
          + label {
            transform: translateY(-150%);
          }

          &:not(&:valid) {
            border-bottom: 1px solid $red-color;

            + label {
              color: $red-color;
            }
          }
        }
      }

      .confirm-button,
      .verify-button {
        position: absolute;
        right: 1.5%;
        bottom: 0.5rem;
        font-size: 0.75rem;
        width: 4.25rem;
        height: 2rem;
        background-color: $white-color;
        color: $primary-color;
        border-radius: 5rem;
        border: 1px solid $primary-color;

        &:disabled {
          background-color: $gray200;
          color: $gray500;
          border: none;
        }
      }
    }

    .auth-button-container {
      margin-top: 4rem;

      .auth-button {
        width: 100%;
        height: 4rem;
        border-radius: 0.625rem;
        border: none;
        justify-content: space-between;
        color: $white-color;
        background-color: $gray400;
        pointer-events: none;

        &.active {
          background-color: $primary-color;
          pointer-events: all;
        }
      }
    }
  }
}
