$primary-color: #92b8b1;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #808080;

$login-button-color: #b7d5de;

$gray100: #f5f5f5;
$gray200: #eeeeee;
$gray300: #e0e0e0;
$gray400: #bdbdbd;
$gray500: #9e9e9e;
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;
