@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import './color.scss';
@import './common.scss';
@import './util.scss';
@import './home.scss';
@import './auth.scss';
@import './header.scss';
@import './main.scss';
@import './post.scss';
@import './sidemenu.scss';

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
}
