.header-main {
  width: 100%;
  z-index: 1;
  height: 4.5rem;
  background-color: $primary-color;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  top: 0;

  &.white {
    background-color: $white-color;

    .white-header-section {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 4.5rem;
      border-bottom: 1px solid $gray400;

      .left-arrow-button {
        position: absolute;
        height: 1.5rem;
        left: 1.5rem;
        top: 1.5rem;
      }

      .header-label {
        font-weight: normal;
        font-size: 1.375rem;
      }
    }
  }

  .small-logo-white {
    height: 1.5rem;
    margin-left: 5%;
  }

  .search-button {
    margin-right: calc(2.5rem + 20px);
    height: 1.75rem;
    width: 1.75rem;
    transition: all 1s;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(104%) contrast(101%);
  }

  .trigger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 1rem;
    width: 1.75rem;
    height: 1.25rem;
    right: 20px;
    top: 20px;
    position: absolute;
    z-index: 11;

    span {
      position: absolute;
      height: 0.175rem;
      width: 100%;
      background-color: $white-color;
      transition: 0.5s;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 50%;
        width: 80%;
      }
      &:nth-child(3) {
        top: 100%;
      }
    }

    &.active {
      span {
        background-color: $primary-color;

        &:nth-child(1) {
          top: 50%;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          display: none;
        }
        &:nth-child(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.search-card-input {
  border: 1px solid $gray400;
  border-radius: 1.5rem;
  height: 2.75rem;
  position: absolute;
  right: calc(1.75rem + 20px);
  padding: 0 1rem;
  opacity: 0;
  outline: none;
}

@keyframes search {
  from {
    opacity: 0;
    width: 0vw;
  }
  to {
    opacity: 1;
    width: 50vw;
  }
}
