@include mobile {
  .home-main {
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .home-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      height: 70%;

      .logo-white {
        margin-top: 10rem;
        width: 80%;
      }
    }
  }
}
