.main-card-article {
  width: 100%;
  height: 100%;
  background-color: $primary-color;
  overflow: hidden;

  .main-card-container {
    width: 90%;
    padding: 5%;

    .main-card-box {
      border-radius: 1.25rem;
      background-color: $white-color;
      padding: 1.25rem;
      overflow: hidden;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .main-button-container {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5%;

      .show-card-section {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: auto;
          width: 2rem;

          &:nth-of-type(1) {
            margin-right: 0.5rem;
          }
        }
      }

      .main-dropdown-section {
        padding-right: 1rem;

        .main-dropdown-button {
          display: flex;
          height: 100%;
          align-items: center;
          justify-content: center;
          background-color: $white-color;
          border-radius: 5px;
          border: 1px solid $primary-color;
          padding: 0.75rem;
          white-space: nowrap;

          .main-dropdown-image {
            height: 100%;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .cards-section {
      position: relative;
      display: flex;
      transition: transform 0.3s;
      height: 80%;
      //overflow: hidden;

      &.list {
        width: 100% !important;
        flex-direction: column;
      }

      .one-card-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: left 0.2s;
        border-radius: 1.25rem;
        border: 1px $primary-color solid;
        margin-right: 2.5rem;
        width: calc(90vw - 2.5rem - 2px);

        .card-image {
          object-fit: cover;
          margin-bottom: 5%;
        }

        .card-text {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          margin-bottom: 5%;

          .item-name {
            font-weight: 300;
            font-size: 1.5rem;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            white-space: nowrap;
          }

          .date-of-use {
            font-size: 1.25rem;
          }
        }

        .mark-used-button {
          font-size: 1.125rem;
          width: 8rem;
          height: 4rem;
          border-radius: 10px;
          border: none;
          background-color: $primary-color;
          color: $white-color;
        }
      }

      .one-list-section {
        display: flex;
        flex-direction: row;
        height: 20%;
        width: 72vw;
        //margin-bottom: 1rem;
        // border-radius: 10px;
        // border: 1px solid $primary-color;
        border-bottom: 1px solid $primary-color;
        padding: 1rem;

        .card-list-image {
          height: 7.5rem;
          border-radius: 10px;
          border: 1px solid $gray300;
        }

        .card-list-text {
          display: flex;
          flex-direction: column;
          margin-left: 2rem;

          .more-dots-button {
            position: absolute;
            right: 0.75rem;
            height: 1rem;
            width: 2rem;
          }

          .list-d-day {
            font-size: 0.5rem;
            color: $gray600;
            margin-bottom: 0.5rem;
          }

          .list-shop-name {
            font-size: 0.75rem;
            margin-bottom: 0.5rem;
          }

          .list-item-name {
            font-size: 1rem;
            font-weight: 200;
            margin-bottom: 0.5rem;
          }

          .list-date-of-use {
            font-size: 0.75rem;
          }
        }
      }
    }

    ul,
    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    .card-pagination {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .card-pagination > li {
      color: $gray300;
      cursor: pointer;
      font-size: 25px;
    }
    .card-pagination > li.active {
      color: $pink-color;
    }

    #plus-button {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
      background-color: $pink-color;
      border: none;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;

      .plus-button-image {
        width: 2rem;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(113deg) brightness(104%)
          contrast(101%);
      }
    }
  }
}
